/* Diseño base */

.display-max {
	display: none;
}

.display-min {
	display: none;
}

* {
	margin: 0;
	padding: 0;
}

	/* El Encabezado */

.encabezado {
	background: #38b6ff;
	padding: 10px;
}

.encabezado img {
	border-radius: 50%;
}

.encabezado nav {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

a {
	text-decoration: none; 
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.horizontal li {
	margin: 0;
	padding: 0;
}

.horizontal a {
	border-radius: 20px;
	font-family: sans-serif;
	color: #FFFFFF;
	background-color: #38b6ff;
	padding: 15px 30px;
}

.horizontal a:hover, .horizontal a:active {
	color: #000000;
	background-color: #FFFF01;
}

	/* El cuerpo PORTADA */

.portada div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.portada img {
	border-radius: 50%;
}


.portada h2 {
	font-family: sans-serif;
	color:#38b6ff;
	text-align: center;
}

.portada p {
	font-family: sans-serif;
	text-align: center;
	Color: #38b6ff;
}
	
.portada a {
	font-family: Arial black, sans-serif;
	text-align: center;
	color: #FFFFFF;
	padding: 15px 30px;
	background-color: #38b6ff;
	border-radius: 50px;
}

.portada a:hover, .horizontal a:active {
	color: #000000;
	background-color: #FFFF01;
}


	/* El cuerpo MINI-GUÍAS */
	
.mini-guias {
	background: #38b6ff;
}

.mini-guias h3 {
	font-family: sans-serif;
	Color: #FFFFFF;
	padding: 20px;
}

.mini-guias ul {
	text-align: center;
	padding: 30px;
}

.mini-guias img {
	border-radius: 20px;
	margin: 20px;
}

.mini-guias p {
	font-family: sans-serif;
	margin: 5px 75px;
	Color: #FFFFFF;
}

.mini-guias a {
	font-family: Arial black;
	color: #38b6ff;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding: 10px 30px;
	margin: 10px 100px 20px;
}

.mini-guias a:hover, .horizontal a:active {
	color: #FFFFFF;
	background-color: #000000;
}

	/* el cuerpo INFOGRAFÍAS */
	
.info h3 {
	font-family: sans-serif;
	color: #38b6ff;
	
}

.lista {
	padding: 30px;
	justify-content: space-around;
	align-items: center;
	font-family: Arial, sans-serif;
	color: #38b6ff;
	font-size: 1em;
}

.lista li {
	padding: 10px;
}

.info p {
	font-family: sans-serif;
	color: #38b6ff;
	text-align: center;
	padding: 60px 0px 0px 0px;
}

.lista img {
	width: 40px;
}

	/* El Pie de página */
	
footer {
	background: #38b6ff;
}

.pie p {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 0.8em;
}

.pie img {
	width: 30px;
	border-radius: 50%;	
}

.pie nav {
	padding: 20px;
}

.redes li {
	margin: 0;
	padding: 0;
	width: 50px;
}
