/* Diseño para Tablets y Celulares */

.display-max {
	display: inherit !important;
}

	/* El Encabezado */

.encabezado img {
	width: 50px;
}

.encabezado nav {
	align-items: center;
}

.horizontal li {
	float: left;
}

.horizontal a {
	font-size: 20px;
	text-align: center;
}

	/* El cuerpo PORTADA */

.portada {
	padding: 40px;
}


.portada img {
	width: 140px;
}


.portada h2 {
	font-size: 2em;
	padding: 30px 0px 20px;
}

.portada p {
	font-size: 1.2em;
}
	
.portada a {
	font-size: 20px;
	margin: 40px;
}

	/* El cuerpo MINI-GUÍAS */
	
.mini-guias {
	padding: 40px;
}

.mini-guias h3 {
	font-size: 1.7em;
	text-align: center;
}

.mini-guias ul {
	display: flex;
}

.mini-guias img {
	width: 20em;
}

.mini-guias p {
	font-size: 1.2em;
}


	/* el cuerpo INFOGRAFÍAS */
	
.info {
	padding: 50px;
}

.info h3 {
	font-size: 1.7em;
	text-align: center;
}

.lista {
	display: flex;
}


.info p {
	font-size: 1em;
}

.lista img {
	width: 50px;
}

	/* El Pie de página */
	



.pie nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.redes li {
	float: left;
}
